
extends layoutE

block content
    .background
      .card
        .image-box.swing
      p
        br
        | 「EVENTs Design」 http://event-pre.com/
        br
        | ©Copyright TopeconHeroes all right reserved.
      #ribon 　


